/*body {
    font-size: 13px;
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    background-color: #f7f7fa;
    padding-left: 40px;
    padding-right: 40px;
    padding-top:50px;
    
}
#footer {
    position:absolute;
    bottom:0;
    width:100%;
   
    margin-left: 30%;
}



nav {
    display: block;
}



.menu {
    padding-left: 10px;
    margin-left: 45%;
}



    .menu ul {
        list-style: none;
    }



    .menu li {
        display: inline;
    }



    .menu a:hover {
        color: red;
    }



table {
    vertical-align:middle;
    text-align: left;
}



.header {
    font-weight: bold;
}



td {
    padding-right: 10px;
}



input {
    width: 150px;
}

#add_book{
    display:inline-block;
}

#block_table{
    margin-top:25px;
}


#test-page {
    width: 450px;
    height: 450px;
    position: absolute;
    margin-top: -225px;
    margin-left: -225px;
    top: 50%;
    left: 55%;
}*/

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.form-add{
    margin-top:10px;
}

.form-add-block{
    margin-right:10px;
}

.form-inline{
    margin-top: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#test-page {
    width: 450px;
    height: 450px;
    position: absolute;
    margin-top: -225px;
    margin-left: -225px;
    top: 50%;
    left: 55%;
}




/* Add padding to container elements */
.form-created {
    padding: 20px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    
    padding-left:12%;
    width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    color: #000;
    font-size: 40px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}

.form-create{
    position:center;
}