/*body {
    font-size: 13px;
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    background-color: #f7f7fa;
    padding-left: 40px;
    padding-right: 40px;
    padding-top:50px;
    
}
#footer {
    position:absolute;
    bottom:0;
    width:100%;
   
    margin-left: 30%;
}



nav {
    display: block;
}



.menu {
    padding-left: 10px;
    margin-left: 45%;
}



    .menu ul {
        list-style: none;
    }



    .menu li {
        display: inline;
    }



    .menu a:hover {
        color: red;
    }



table {
    vertical-align:middle;
    text-align: left;
}



.header {
    font-weight: bold;
}



td {
    padding-right: 10px;
}



input {
    width: 150px;
}

#add_book{
    display:inline-block;
}

#block_table{
    margin-top:25px;
}


#test-page {
    width: 450px;
    height: 450px;
    position: absolute;
    margin-top: -225px;
    margin-left: -225px;
    top: 50%;
    left: 55%;
}*/

body {
    padding-top: 50px;
    padding-bottom: 20px;
}


.form-inline{
    margin-top: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#test-page {
    width: 450px;
    height: 450px;
    position: absolute;
    margin-top: -225px;
    margin-left: -225px;
    top: 50%;
    left: 55%;
}

