@model Authentication.Models.Brochure
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <p>Name: @Html.DisplayFor(m => m.Name)</p>
    <p>Color:@Html.DisplayFor(m => m.Color)</p>
    <p>Theme:@Html.DisplayFor(m => m.Theme)</p>
    <p>Year:@Html.DisplayFor(m=> m.Year)</p>
    <p>Company:@Html.DisplayFor(m=>m.Company)</p>
    <p>Price: @Html.DisplayFor(m => m.Price)</p>


</div>

