@model IEnumerable<Authentication.Models.Item>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of all items</h2>


<div id="example">
    <table id="grid">
        <colgroup>
            <col />
            <col />
            <col style="width:110px" />
            <col style="width:100px" />
        </colgroup>
        <thead id="table_head">
            <tr>
                <th data-field="Name">Name</th>
                <th data-field="Author">Author</th>
                <th data-dield="Price">Price</th>
                <th data-field="Type">Type</th>
                <th data-field="Delete">Delete</th>
            </tr>
        </thead>
        <tbody id="table_data">
            @foreach (var c in ViewBag.DataTable)
            {
                <tr>
                    <td>
                        <p>@c.Name</p>
                    </td>
                    <td>
                        <p>@c.Author</p>
                    </td>
                    <td>
                        <p>@c.Price</p>
                    </td>
                    <td>
                        <p>@c.Type</p>
                    </td>
                    <td>
                        <p><a class="btn" href="/Items/Delete/@c.Id">Удалить </a></p>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <script>
        function Table() {
            var target_head = $("#table_head");
            target_head.empty();
            target_head.append("<tr><th data- field='Name'>Name</th><th data- field='Author'>Author</th><th data- field='Prce'>Price</th><th data- field='Type'>Type</th></tr >");
            var target_data = $("#table_data");
            target_data.empty();
        }

        $(document).ready(function () {
            $("#grid").kendoGrid({
                height: 500,
                sortable: true,

            });
        });
    </script>
</div>

<script>
    $(document).ready(function () {
 
        $.ajaxSetup({ cache: false });
 
        $(".viewDialog").on("click", function (e) {
            e.preventDefault();
 
            $("<div></div>")
                .addClass("dialog")
                .appendTo("body")
                .dialog({
                    title: $(this).attr("data-dialog-title"),
                    close: function () { $(this).remove() },
                    modal: true
                })
                .load(this.href);
        });
    });
</script>