@model IEnumerable<Authentication.Models.Book>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of books</h2>
<div class="example">
    <table id="grid">
        <colgroup>
            <col />
            <col />
            <col style="width:150px" />
            <col style="width:450px" />
        </colgroup>
        <thead id="table_head">
            <tr>
                <th data-field="Name">Name</th>
                <th data-field="Year">Year</th>
                <th data-field="Publishing">Publishing</th>
                <th>CRUD</th>

            </tr>
        </thead>
        <tbody id="table_data">
            @foreach (var c in ViewBag.DataTable)
            {
                <tr>
                    <td>
                        <p>@c.Name</p>
                    </td>
                    <td>
                        <p>@c.Year</p>
                    </td>
                    <td>
                        <p>@c.Publishing</p>
                    </td>
                    <td>
                        <p>
                            <a class="btn" href="/Books/Details/@c.Id">Смотреть</a>

                            @if (User.IsInRole("admin") || User.IsInRole("user"))
                            {
                                <a class="btn" href="/Books/Edit/@c.Id">Редактировать </a>
                            }

                            @if (User.IsInRole("admin"))
                            {
                                <a class="btn" onclick="ConfirmDelete(@c.Id)">Удалить </a>
                            }
                            <a class="btn" href="/Books/Save/@c.Id">Save</a>
                        </p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="form-add">
    @if (User.IsInRole("user") || User.IsInRole("admin"))
    {
        <form action="/Books/Load">

            <button type="submit" class="btn btn-primary">Load Book-Xml/Json</button>
        </form>

        <h1> </h1>

        <button onclick="document.getElementById('id01').style.display='block'" class="btn btn-primary">Add Book</button>
                   
    }
    </div>

    <div id="id01" class="modal">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
        <form class="modal-content animate" action="/Books/Create">
            <div class="form-created">
                <div class="form-group">
                    <label>Name:</label>
                    <input id="Name" name="Name" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Author:</label>
                    <input id="Author" name="Author" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Publishing:</label>
                    <input id="Publishing" name="Publishing" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Year:</label>
                    <input id="Year" name="Year" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Price:     </label>
                    <input id="Price" name="Price" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-info">Create</button>
                    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>

                </div>
                
            </div>
        </form>
    </div>


    <script>

    function ConfirmDelete(id) {
        var ok = confirm('Вы уверены, что хотите удалить?')
        if (ok)
            location = "/Books/Delete/" + id;
        else
            location = "/Books/Index/"
    }

    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    function Table() {
        var target_head = $("#table_head");
        target_head.empty();
        target_head.append("<tr>< th data- field='Name'>Name</th><th>Year</th><th>Publishing</th><th>CRUD</th></tr >");
        var target_data = $("#table_data");
        target_data.empty();


    }

    $(document).ready(function () {
        $("#grid").kendoGrid({
            height: 500,
            sortable: true,

        });
    });
    </script>
</div>


<script>
    $(document).ready(function () {
 
        $.ajaxSetup({ cache: false });
 
        $(".viewDialog").on("click", function (e) {
            e.preventDefault();
 
            $("<div></div>")
                .addClass("dialog")
                .appendTo("body")
                .dialog({
                    title: $(this).attr("data-dialog-title"),
                     close: function () { $(this).remove() },
                    modal: true
                })
                .load(this.href);
        });
    });
</script>
